@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme{
  --color-primary:#d2a96a;
  --color-darkGradient:#BB925A
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-kalnia: var(--font-kalnia);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.gradient_bg{
  background: linear-gradient(to bottom,#E5BD78, #BB925A);
}
/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

