@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme {
  /* --color-primary:#d2a96a; */
  --color-primary: #e5bd78;
  --color-darkGradient: #bb925a;
  --color-goldBackground: #f8eed3;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-kalnia: var(--font-kalnia);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.gradient_bg {
  background: linear-gradient(to bottom, #e5bd78, #c9ac85);
}
.showcase_bg {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("../public/images/showcasee.jpg");
  background-size: cover;
  background-position: center;
}

.obsession_bg {
  background: linear-gradient(to bottom, #f8eed3, #f9f7f2);
}
.about_bg {
  background-image: url("../public/images/turnkeyProject.jpg");
  background-size: cover;
  background-position: center;
}
.charcoal_black {
  background: #303030;
}
.faint_gold {
  color: #e5bd78d2;
}
.faint_gold_bg{
  background-color: #e5bd78d2;

}
.grain_bg {
  background: url("../public/images/grain.jpg");
}

.contact_bg{
  background: linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0.5)), url('../public/images/contactBg.jpg');
  background-size: cover;
  background-position: center;

}
